* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    padding: 20px;
}

.photo {
    background-color: lightgoldenrodyellow;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

h2 {
    background-color: rgb(218, 215, 196);
    border-radius: 10px;
}

p {
    background-color: khaki;
    padding: 10px;
    border-radius: 20px;
}

.table {
    background-color: lightgoldenrodyellow;
    padding: 20px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a::before {
    content: "  ";
}

a::after {
    content: "  ";
}

a:hover {
    color: black;
    font-size: 20px;
    transition-duration: 0.1s;
}

footer {
    background-color: khaki;
    padding: 10px;
    border-radius: 20px;
}
